%div.flex.flex-col
  %h1.font-bold.text-4xl About this project
  %h2.font-bold.text-xl.mt-4 
    Questions
  %p.my-4 This was a great (in a Rorschach Test kind of way). A nice, seemingly simple problem, but with enough ambiguity beg additional clarification, or make decisions based on assumptions (it is an MVP after all). I have some questions, which are outlined here.
  %ul.ml-10
    %li.list-disc The first thing is, is this code intended to live beyond the week? I guess the question is, (in the scenario) is the intention for me to start a project that will be "the" project or is this an experiment to explore ideas and clarify assumptions? When I am working with the intent of the code living beyond the conversation, I like to go a bit slower and document what I am doing a bit better. (I want to make the codebase hospitible for collaborataion.)
    %li.list-disc Is the idea for this app to be a single-source app or a multi-tennant app?
    %li.list-disc Is this a b2b, or a University-wide, will there be multiple departments? 
    %li.list-disc How are users and / roles going to administered?
    %li.list-disc Do courses run more than once? (are there sessions or semesters or something like that?)
    %li.list-disc As a 'global' site, do we want/need to support multiple languages? Which ones? 
    %li.list-disc Are courses taught by instructors or are they self-directed? If they are taught by instructors, are they taught by one instructor or multiples? Are courses ever taught by different instructors over time?


  %h2.font-bold.text-xl.mt-8 
    What I'd do if...
  %p.mt-4 Some areas I would explore...
  %ul.ml-10
    %li.list-disc multi-tenant
    %li.list-disc roles based authorization (Pundit)
    %li.list-disc omniauth round robin
    %li.list-disc sessions ( -> courses)
    %li.list-disc enrollments (students <-> sessions)
    %li.list-disc filters (pg_search or ransack...depending)