.w-full
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
  .flex.justify-between.items-center.mb-10
    %h1.font-bold.text-4xl Courses
    = link_to 'New Course', new_course_path, class: "rounded-lg py-3 px-5 bg-cyan-600 text-cyan-50 block font-medium"
  #courses.grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4.grid-flow-row
    = render @courses
